@mixin text-des{
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
};
@mixin text-content{
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color:#000
};
@mixin text-heading{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 34px;
      line-height: 40px;
      letter-spacing: 1.6px;
}
@mixin primaryButton{
      padding:12px 37px;
      border-radius: 10px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      letter-spacing: 0.5px;
      color: #FFFFFF;
      border: none;
}