$normal-lineheight:24px;
$extra-lineHeight: 52px;

$color:#000;
$background:#fff;

$main-font-family:'Roboto', sans-serif;
$sub-font-family: 'Poppins',sans-serif;

$normal-fontsize:16px;
$extra-fontsize:34px;

$normal-fontweight:400;
